.navbar {
  margin-bottom: 20px;
  background-color: #d70f64;
  height: 70px;
}

.navbar__brand {
  color: white;
  font-size: 0.9rem;
  margin-top: -20px;
}
.navbar__nav-link {
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
  margin-top: -1.8rem;
}

.navbar__nav-link:hover {
  color: white;
}

.navbar__logo {
  height: 80px;
}
